// Colors
$dark-blue: hsl(209, 23%, 22%);
$so-dark-blue: hsl(207, 26%, 17%);
$very-dark-blue: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-lighy-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Size
$homepage-items: 14px;
$detail-page: 16px;
